*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    overflow-x: hidden;
    max-width: 100%;
}
.line1{
    background-color: #d96666;
    height: 45px;
}
.line2{
    background-color: #f7c5b9;
    height: 40px;
}
.line1 p{
    text-align: center;
    padding-top: 12px;
    font-family: Courier New;
    color: white;
    
}
.line2 p{
    text-align: center;
    padding-top: 11px;
    font-family:  Courier New;
    color: white;
    
}
.line1:hover{
    background-color: #dd7979;
}
.line2:hover{
    background-color: #f5cdc3;
}
.menu2 img{
    height: 20px;
    width:  20px;
    margin-right: 30px;
    float: right;
    padding-top: 25px;
    cursor: pointer;
}
.navbar{
    display: flex;
    width: 100vw;
    height: 90px;
    border-bottom: 1px solid rgb(241, 240, 240);
    background-color: white;
    position:sticky;
    top:0;
    z-index: 100;
}
.pic-head{
    margin-left: 60px;
    margin-top: 23px;
    
}
.menu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    margin-left: 30px;
}
.menu1{
    
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 35px;
}
.menu2{
    
    grid-column-start: 5;
    grid-column-end: 6;
}
.menu1 li{
    display: inline;
    margin-left: 20px;
    font-family: Courier New ;
    color: #6e6d6d;
}
.menu li a{
    color: #6e6d6d;
    text-decoration: none;

}
.menu1 li a:hover{
    color: #1b1b1b;
    text-decoration: underline;
    cursor: pointer;
}
.menu1 li a:visited{
    text-decoration: none;
}





.page1{
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 360px;
    margin:  0px auto;
}
.page11{
    font-size: 45px;
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.page12{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    text-align: center;
}
.page12 button{
    background-color: #d96666;
    width: 190px;
    height: 45px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 15px;   
}
.page12 button:hover{
    width: 194px;
    height: 47px;
}
.page13 p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #504e4e;
    margin-top: 55px;
    text-align: center;
    
    
}
.page14 p{
    text-align: center;
    margin-top: 5px;
    color: #5d5d5d;
}
.page14 a{
    color: #afaaaa;
}














.page4{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
}
.page4 button{
    background-color: #d96666;
    width: 120px;
    height: 40px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 15px;   
}
.page4 button:hover{
    width: 126px;
    height: 42px;
}













.page3{
    width: 100%;
    height:120px;
    margin: 0px 50px auto;
    margin-bottom: -40px;
    
    
}

.menu3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

    margin-top: 60px;
}
.page2{
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(1,440px);
    column-gap: 12px;
    margin: 50px;
    margin-top: 0px;
}
.outer{height: 340px;
    overflow: hidden;
    border: 1px solid rgba(169, 168, 168, 0.1);
}
.main1:hover .outimg{
    
    transform: scale(1.06);
    transition: all 1s ease;
}
.main1 p{
    width: 100%;
    height: 45px;   
}
.main1:hover{
    cursor: pointer;
}

.outimg{
    width: 100%;
    height: 340px; 
    transform: scale(1);
    transition: all 1s ease; 
    
}
.main1 .a{
    font-family: 'Poppins', sans-serif; 
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}
.main1:hover .a{
    text-decoration: underline;
}
.main1 .b{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    
}
.main1 .b span{
    text-decoration: line-through;
    font-size: 13px;
    color: rgb(122, 121, 121);
}
.page8{
    height: 250px;
    border: 2px solid rgba(148, 147, 147, .2);
}
.page8 p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
}
.page81 ul{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.page81 ul a{
    text-decoration: none;
}
.page81 ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 25px;
    cursor: pointer;
    color: #656464;
}
.page81 ul li:hover{
    text-decoration: underline;
    color: #090909;
}
.page82{
    text-align: center;
    margin-top: 40px;
}
.page82 i{
    margin-left: 50px;
    cursor: pointer;
    opacity: .8;
}
.page0{
    width: 200px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 0;
    display: flex;
    cursor: pointer;
    
}
.page0 i{
    font-size: 40px;
    margin-left: 10px;  

}
.page0 button{
    padding: 0px 10px 0px 10px;
    background-color: rgba(154, 152, 152,.2);
    height: 35px;
    border-radius: 10px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    
}





/* <-----searchBox------> */
.searchBox{
    position: absolute;
    top: 0px;
    right: -100%;
    background-color: white;
    border: 2px solid bla;
    width: 100%;
    height: 100%;
    display: flex;
    transition: .5s ease-in-out;
}
.Btn{
    display: flex;
}
.searchBox.active{
    right: 0;
}
.searchBox input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin-right: 20px;
    margin-left: 20px;
}
.Btn{
    width: 20px;
    height: 20px;
    margin-top: 35px;
    margin-right: 80px;
    
}
.Btn i{
    font-size: 25px;
    margin-left: 20px;
    margin-top: -3px;
}











/* <--------searchBox paragraph--------> */

.popup-paragraph1{
    font-size: 25px;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
   
}
.popup-paragraph2{
    font-size: 15px;
    padding-top: 12px;
    padding-left: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}
.popup-paragraph3{
    font-size: 17px;
    padding-top: 30px;
    padding-left: 20px;
    text-transform: capitalize;
    font-family: 'Noto Sans JP', sans-serif;
}
